body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.MainAreaCenterPosition {
    justify-content:center;
}

.MainArea {
    width:700px;
}

.MainAreaFont {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}