{{>layout/header}}


<div class="col-md-12" style="margin-left:30%;">
    <label class="MenuTitle-W">생방송/라이브 정보 등록</label>
    <br />
    <div class="col-md-2 border border-1">
        <div class="row MenuButton-W" id="link-menuInfoRegister">
            <i class="bi bi-moon"></i>알리미 추가 및 수정
        </div>
        <div class="row MenuButton-W" id="link-menuInfoGetList">
            <i class="bi bi-moon"></i>방송 정보 취득
        </div>
        <div class="row MenuButton-W" id="link-menuInfoCheck">
            <i class="bi bi-moon"></i>등록 내용 확인
        </div>
        <div class="row MenuButton-W" id="link-menuInfoManualRegister">
            <i class="bi bi-moon"></i>정보 수동 등록
        </div>
    </div>
</div>


{{>layout/footer}}