{{>layout/header}}


<div class="col-md-12">
    <h1>Test!!!</h1>
    <div class="col-md-6">
        <div class="row">
            <button id="link-menuInfoRegister" class="btn btn-primary">알리미 추가 및 수정</button>
        </div>
        <div class="row">
            <button id="link-menuInfoGetList" class="btn btn-primary">방송 정보 취득</button>
        </div>
        <div class="row">
            <button id="link-menuInfoCheck" class="btn btn-primary">등록 내용 확인</button>
        </div>
        <div class="row">
            <button id="link-menuInfoManualRegister" class="btn btn-primary">정보 수동 등록</button>
        </div>
    </div>
</div>


{{>layout/footer}}