{{>layout/header}}


<div class="col-md-12">
    <h1>Test!!!</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <button id="link-menuInfoRegister" class="btn btn-primary">알리미 추가 및 수정</button>
            </div>
            <div class="row">
                <button id="link-menuInfoGetList" class="btn btn-primary">방송 정보 취득</button>
            </div>
            <div class="row">
                <button id="link-menuInfoCheck" class="btn btn-primary">등록 내용 확인</button>
            </div>
            <div class="row">
                <button id="link-menuInfoManualRegister" class="btn btn-primary">정보 수동 등록</button>
            </div>
        </div>
        <div class="col-md-8">
            <h2>방송 정보 수동 등록</h2>
            <br />
            <div class="row">
                <div class="col-md-6">
                    트위터로 올라오지 않는 방송 알림을 수동 등록
                </div>
                <div class="col-md-6">
                    <button id="btn-menu-manual-register" class="btn btn-primary">정보 등록</button>
                </div>
            </div>
            <hr />
            <div>
                <form>
                    <div class="input-group">
                        <label class="col-md-4">방송명 (요약)</label>
                        <input id="broadcastTitle" type="text" class="form-control" placeholder="최대한 간단하게. ex)아쿠아 생방송"/>
                    </div>
                    <div class="input-group">
                        <label class="col-md-4">방송 정보 내용</label>
                        <textarea class="form-control" id="broadcastContext"></textarea>
                    </div>
                    <div class="input-group">
                        <label class="col-md-4">방송 정보 태그 (카테고리)</label>
                        <input id="broadcastTag" type="text" class="form-control" placeholder="3개까지 기억됩니다. 여러개일 경우 , 로 구분해주세요."/>
                    </div>
                    <div class="input-group">
                        <label class="col-md-4">방송 정보 일시</label>
                        <input id="broadcastDate" type="datetime-local" class="form-control" placeholder="2020-12-31"/>
                    </div>
                    <div class="input-group">
                        <label class="col-md-4">출처</label>
                        <input id="url" type="text" class="form-control" placeholder="출처의 URL"/>
                    </div>
                </form>
                <hr />
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}